@media only screen and (max-width: 576px) {
    #rect-1,#rect-2{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150px;
    }
    nav h2{
        font-size: 1.3em;
    }
    nav a,nav button{
        font-size: 0.8em;
    }

    .btn{
        padding: 7px 10px !important;
        width: initial !important;
    }
    .banner{
        height: 995px;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner > div:first-child > h1{
        font-size: 2.5em;
    }
    
    .banner > div:first-child > p{
        font-size: 1em;
    }

    #list-services{
        display: flex;
        flex-direction: column;
        height: initial;
        width: initial;
        position: initial;
        bottom: initial;
    }

    .detail-service{
        margin: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .item-service{
        margin: 30px 55px;
    }
    .sales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > div:first-child {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer > div:last-child {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    #rect-1,#rect-2{
        display: none;
    }

    nav h2{
        font-size: 1em;
    }
    nav a,nav button{
        font-size: 0.7em;
    }

    .btn{
        padding: 5% 10px !important;
        width: initial !important;
    }
    .banner{
        height: 1250px;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner > div:first-child > h1{
        font-size: 2.5em;
    }
    
    .banner > div:first-child > p{
        font-size: 1em;
    }

    .banner > div:first-child > div {
        width: 30%;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner > div:first-child > div > button {
        margin-right: 10px;
        margin-top: 10px;
    }

    .item-sale {
        height: max-content;
        width: 500px !important;
    }

    #list-services{
        display: flex;
        flex-direction: column;
        height: initial;
        width: initial;
        position: initial;
        bottom: initial;
    }

    .detail-service{
        margin: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .item-service{
        margin: 30px 55px;
    }
    .sales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > div:first-child {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer > div:last-child {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 992px) {
    #rect-1,#rect-2{
        display: none;
    }

 
    nav h2{
        font-size: 1.3em;
    }
    nav a,nav button{
        font-size: 0.8em;
    }

    .btn{
        padding: 7px 10px !important;
        width: initial !important;
    }
    .banner{
        height: 1360px;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner > div:first-child > h1{
        font-size: 2.5em;
    }
    
    .banner > div:first-child > p{
        font-size: 1em;
    }

    #list-services{
        display: flex;
        flex-direction: column;
        height: initial;
        width: initial;
        position: initial;
        bottom: initial;
    }

    .detail-service{
        margin: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .item-service{
        margin: 30px 55px;
    }
    .sales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-sale {
        height: max-content;
        width: 80%;
    }

    footer > div:first-child {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer > div:last-child {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .item-sale{
        width: 250px;
    }
}