:root{
    --primary-color:#96BB7C;
    --primary-text-color:#252B42;
    --second-text-color:#737373;
    --light-text-color:#ffffff;
    --light-bg-color:#ffffff;
    --danger-color:#E74040;
    --dark-background-color:#2D4059;
    --start-bg-color:#FFCE31;
    --muted-color:#BDBDBD;
    --money-text-color:#FFAB71;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
/* header{
    height: 100vh;
    background: url(../image/bg-header-1.svg);
    background-position: initial;
    background-size: auto;
} */

#rect-1{
    background: url(../image/bg-header-1.svg);
    height: 700px;
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
}

#rect-2{
    background: url(../image/bg-header-2.svg);
    height: 700px;
    width: 100%;
    position: absolute;
    top: 100px;
    background-repeat: no-repeat;
    z-index: -2;
}

/* @media only screen and (max-width: 500px) {
    #rect-1{
        background: rgb(120, 192, 57) !important;
        width: 100%;
    }
    #rect-2{
        background: red !important;
    }
} */

nav{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    /* display: flex; */
    height: 100px;
    /* padding-left:70px;
    padding-right: 70px; */
    padding: 0px 70px 0px 70px;
    /* justify-content: space-around;
    align-items: center; */
}

nav > div:nth-child(1){
    display: flex;
    align-items: center;
} 

nav > div:nth-child(2){
    display: flex;
    align-items: center;
}

nav > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: end;
}

nav h2{
    margin: 0;
}

nav a{
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: 600;
    margin-right: 15px;
}

.banner{
    height: 700px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.banner > div:first-child{
    padding: 50px 70px;
}

.banner > div:first-child > h6{
    font-size: 1rem;
    color: var(--primary-color);
}

.banner > div:first-child > h1{
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 25%);
}

.banner > div:first-child > p{
    color: var(--second-text-color);
    font-size: 1.5em;
}

.banner > div:last-child{
    background: url(../image/bg-hero-1.svg),url(../image/hero.webp) ,url(../image/bg-hero.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 15%,100%,100%;
    /* background-position: center,center,center; */
    background-position-x:80%,center,center;
    background-position-y:60%,center,center;
    
}

.banner > div:first-child > div{
    width: 80%;
    display: flex;
}

.banner > div:first-child > div > button{
    margin-right: 10px;
}

.btn{
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 15px 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn-primary{
    background-color: var(--primary-color);
    color:var(--light-text-color);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button.btn-transparent{
    background-color: transparent;
    color:var(--primary-color);
}

.btn-border{
    border: 1px solid var(--primary-color);
}

.btn-border-25{
    border-radius: 25px;
}
.btn-size-2x{
    width: 180px !important;
}

header{
    position: relative;
}

body{
    height: 2000px;
}
#list-services{
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    justify-content: center;
    /* justify-content: space-around; */
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -120px;
}

.item-service{
    background-color: var(--light-bg-color);
    box-shadow:3px 10px 19px -4px;
    margin: 0 15px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: start;
}

.item-service > h3{
    font-size: 1.5em;
    color: var(--primary-text-color);
}

.item-service > span{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.item-service >  hr{
    background-color: red;
    border: 0;
    height: 2px;
    width: 70px;
    /*margenes por defecto del tag*/
    /* 
        margin-inline-start: initial; 
        margin-inline-end: initial;
    */
    /*margenes por defecto del tag*/

    /*margin propiedad*/
    margin: auto 0;
    /*margin propiedad*/
}


.item-service > p{
    color: var(--second-text-color);
}

.detail-service{
    margin: 400px 20px 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.detail-service h2{
    font-weight: bold;
    font-size: 2.5em;
}

.detail-service a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: max-content;
}   


.detail-service p{
    color: var(--second-text-color);
    width: 70%;
}

.detail-service .detail-container-multimedia{
    position: relative;
}
.detail-service #img-add-1{
    background: url(../image/img-add-1.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 70px;
    width: 130px;
    height: 120px;
}

.detail-service #img-add-2{
    background: url(../image/img-add-2.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    bottom: 80px;
    width: 150px;
    height: 120px;
}

.detail-service #img-add-3{
    background: url(../image/img-add-3.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 230px;
    width: 150px;
    height: 120px;
}

.detail-service > div{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-service hr{
    background-color: red;
    border: 0;
    height: 4px;
    width: 100px;
    margin: 0;
}

.detail-service video{
    border-radius: 25px;
    margin: auto;
}

.detail-service:nth-child(2){
    margin-top: 50px;
}

.sales{
    margin: 100px 0px;
    display: flex;
    justify-content: space-evenly;
}


.item-sale{   
    height: max-content;
    width: 300px;
    
}

.item-sale > div:nth-child(1){
    background:url(../image/bg-sale-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    /* width: 100%; */ /*eliminado por desborder*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.item-sale > div:nth-child(1) > p{
    background-color: var(--danger-color);
    width: max-content;
    color: var(--light-text-color);
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
}

.item-sale > div:nth-child(1) > div.icons-sale{
    display: flex;
    justify-content: center;
}

.item-sale > div:nth-child(1) > div.icons-sale > span{
    background-color: var(--light-bg-color);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    border-radius: 50%;
}
.item-sale > div:nth-child(2){
    padding: 10px 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-sale > div:nth-child(2) > *{
    margin: 0;
    padding: 0;
}
.item-sale > div:nth-child(2) > h4{
    color: var(--primary-color);
    font-weight: 800;
    display: flex;
    align-items: center;
}

.item-sale > div:nth-child(2) > h4 > span{
    background-color: var(--dark-background-color);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: var(--light-text-color);
    font-weight: 500;
    /* margin-left: 10px; */
}

.item-sale > div:nth-child(2) > h4 > span > svg{
    margin: 0 5px;
    fill: var(--start-bg-color);
    stroke: var(--start-bg-color);
    stroke-width: 1;
}
.item-sale > div:nth-child(2) > h3{
    color: var(--primary-text-color);
}

.item-sale > div:nth-child(2) > p{
    color: var(--second-text-color);    
    display: flex;
    align-items: center;
}


.item-sale > div:nth-child(2) > p:nth-child(4){
    font-weight: bold;
}
.item-sale > div:nth-child(2) > p:nth-child(5){
    font-weight: bold;
}

.item-sale > div:nth-child(2) > p:nth-child(5) > span:first-child{
    color: var(--muted-color);
    margin-right: 10px;
}
.item-sale > div:nth-child(2) > p:nth-child(5) > span:last-child{
    color: var(--money-text-color);
}

footer{
    padding: 0px 70px;
    padding-bottom: 40px;
}

footer > div:first-child{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 35%; 
    justify-content: space-between;
}

footer > div:last-child{
    padding: 40px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-text-color);
    font-weight: 800;
    font-size: 0.8em;
}
footer > div:last-child > div:last-child{
    width: 35%;
    text-align: center;
}

footer > div:last-child a{
    color: var(--primary-color);   
    margin: 0px 10px;
}


footer > div:last-child a > svg#twitter{
    fill: var(--primary-color);
}

footer > div:last-child a:first-child{
    display: inline-block;
}
/* footer > div:last-child a#link-facebook{
    background-color: red;
    display: inline-block;
    
} */
footer > div:last-child a > svg#facebook{
    fill: var(--light-bg-color);
    stroke: var(--light-bg-color);
    stroke-width: 0.2;    
}

/* footer div{
    border: 1px solid #000;
} */

footer  > div:first-child  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer > div:first-child ul li a{
    display: block;
    text-decoration: none;
    color: var(--second-text-color);
    margin: 20px 0px;
    font-weight: 800;
    font-size: 0.8em;
}

footer > div:first-child > div:last-child > div{
    text-align: center;
}

footer > div:first-child > div:last-child > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

footer > div:first-child > div:last-child > div > p > svg{
    stroke: var(--primary-color);
}

footer > div:first-child > div:last-child > div > p >svg, footer > div:first-child > div:last-child > div > p >i{
    margin-right: 10px;
}
.icon-email{
    display: block;
    background: url(../image/icon-email.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}

.icon-facebook{
    display: block;
    background: url(../image/icon-face.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}