:root{
  --primary-color:#5d50c6;
  --text-ligth-color:#eeeeee;
  --background-ligth-color:#eeeeee;
  --background-ligth-white:#ffffff;
  --color-primary-one:#f85e9f;
  --text-secondary-color:rgba(25, 24, 37, 0.5);
  --text-color-starts:#ff5722;
  --background-icons:#5d50c6
}

body{
  margin:0;
  padding:0;
}

.container{
  margin: 20px 150px;
}
.text-primary-one{
  color: var(--color-primary-one);
}
.btn{
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-primary{
  background-color:var(--primary-color);
  color: var(--text-ligth-color);
  font-weight: bold;
}
.btn-primary:active{
  background: var(--text-ligth-color);
  color: #000;
}

.btn-border{
  border:1px solid var(--background-ligth-color) !important
}

.btn-transparent{
  background: transparent;
  color: #000;
}
.btn-transparent:active{
  background: var(--primary-color);
  color: var(--text-ligth-color);
}
.btn-shadow{
  box-shadow: 0px 10px 13px #888888;
}

.btn-circle{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: none;
}
.icon{
  display: block;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin:0px 10px;
}

.icon-play{
  background: url(/images/playIcon.svg);
  height: 30px;
  width: 30px;
}

.icon-logo{
  background: url(/images/logo.svg);
  height: 30px;
  width: 30px;
}

.icon-one{
  background: url(/images/icon1.svg);
  height: 30px;
  width: 30px;
}

.icon-pointer{
  background: url(/images/icon2.svg);
  height: 30px;
  width: 30px;
}

.icon-calendar{
  background: url(/images/icon3.svg);
  height: 30px;
  width: 30px;
}

.icon-ticket{
  background: url(/images/icon4.svg);
  height: 30px;
  width: 30px;
}

.icon-map{
  background: url(/images/icon5.svg);
  height: 30px;
  width: 30px;
}



.title h4{
  text-transform: uppercase;
  color: var(--color-primary-one);
}

.title p{
  color: var(--text-secondary-color);
  font-size: 0.9em;
  width: 70%;
}

.logo-principal{
   color: #000;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-header{
  display: flex;
  justify-content: space-between;
}

.nav-header ul{
  display: flex;
  list-style: none;
}

.nav-header ul li a{
  margin: 0px 15px;
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 600;
}


.nav-header ul li a.active{
  color: #000;
}
.nav-header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge{
  background-color: var(--background-ligth-white);
  /* color:var(--color-primary-one); */
  font-weight: bold;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px 25px;
  border-radius: 25px;
}

.badge-reverse{
  flex-direction: row-reverse;
}
.sub-hero{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
}
.sub-hero > div.bg2-hero{
  background: url(/images/bg2-hero.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100px;
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: -1;
}

.sub-hero > div.bg3-hero{
  /* background-color: red; */
  background: url(/images/bg3-hero.svg);
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 700px;
  width: 500px;
  position: absolute;
  top: -300px;
  right: 0;
  z-index: -1;
}
.icons-companys{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  align-items: flex-end;
}
.icons-companys img{
  width: 60%;
  height: 30px;
}
.hero{
  height: 600px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.bg1-hero{
  background: url(/images/bg1-hero.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero > div:last-child{
  background: url(/images/bg-hero.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .bg0-hero{
  background: url(/images/bg0-hero.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
  position: absolute;
  bottom: -10%;
  
  /* bottom:-28%;
  left: 18%; */
}
.design-images-hero{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design-images-hero > .hero-one > img{  
  margin: 7px;
  border-radius: 25px;
  height: 200px;
  width: 170px;
}


.design-images-hero > .hero-two > img{  
  margin: 7px;
  border-radius: 25px;
  height: 250px;
  width: 170px;
}

.design-images-hero > .hero-one{  
  display: flex;
  flex-direction: column-reverse;
}

.title-hero h1{
  font-size: 70px;
  font-weight: bold;
  color: #000;
}


.title-hero p{
  font-size:15px;
  color: var(--text-secondary-color);
}

.title-hero div{
  width: 100%;
  display: flex;
  justify-content: flex-start
}

.title-hero > div > button{
  margin: 20px 20px 0 0px;
}

.services{
  display: grid;
  grid-template-columns: 30% 65%;
}
.services > div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services > div:last-child:hover{
  overflow-x: auto;
}

.services > div:last-child{
  overflow-x: hidden;
  width: 100%;
  display: flex;
  padding: 20px 0;
}
.content-services{
  display: inline-flex;
}

.item-service{
  background-color: var(--background-ligth-white);
  width:250px;
  height: 300px;
  margin: 0px 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.item-service > div{
  text-align: center;
  width: 70%;
}

.item-service > div >h3{
  margin-bottom: 30px;
}
.item-service > div >p{
  font-size: 0.9em;
  color: var(--text-secondary-color);
}

.item-service:hover{
  box-shadow: 0px 14px 20px -3px #888888;
}
.item-service > img{
  width: 60px;
  height: 60px;
}

.destine{
  display: flex;
  flex-direction: column;
}
.destine > div:first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destine > div:first-child > div.scroll-btn-destine{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destine > div:first-child > div.scroll-btn-destine > button{
  margin: 0px 10px;
}

.content-destine{
  display: inline-flex;
}

.destine > div:last-child{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.destine-item{
  width: 300px;
  margin: 0px 50px 0px 0px;
}

.destine-item > div{
  width: 100%;
}

.destine-item > div > img{
  width: 100%;
  height: 300px;
  border-radius: 25px 25px 0 0;
}


.destine-item > div:last-child *{
  margin: 0;
  padding: 0;
}

.destine-item > div:last-child > div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0px;
}

.destine-item > div:last-child > div > h6{
  font-size: 1.2em;
  width: 50%;
  font-weight: bold;
}

.destine-item > div:last-child > div > span{
  color: var(--color-primary-one);
  font-size: 1.2em;
  font-weight: bold;
}

.destine-item > div:last-child > p{
  color: var(--text-secondary-color);
}

.destine-item > div:last-child > span{
  color:var(--text-color-starts);
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px 0px;
  display: flex;
  align-items: center ;
}

.destine-item > div:last-child > span > svg{
  margin: 0px 7px;
}

.features{
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.features > div:first-child{
  height: 100%;
}
.features > div:last-child{
  height: 100%; 
  position: relative;
  
}

.features > div:last-child > .bg-1-feacture {
  background-image: url(/images/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 400px;
  width: 260px;
  top: 50px;
  left: 15%;
  border-radius: 50% / 30%;
  z-index: 3;
}

.features > div:last-child > .bg-2-feacture{
  background-image: url(/images/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -60px;
  right: 10%;
  height: 360px;
  width: 220px;
  border-radius: 50% / 30%;
  border: 10px solid #fff;
  z-index: 4;
}

.features > div:last-child > .bg-3-feacture{
  background-image: url(/images/bg-feacture.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  height: 160px;
  width: 250px;
  border-radius: 200px;
  z-index: 2;
}

.features > div:last-child > .badge-feacture{
  position: absolute;
  z-index: 5;
  right: 45px;
  top: 100px;
}

.item-feacture *{
  margin: 0;
  padding: 0;
}
.item-feacture{
  height: 80px;
  width: 90%;
  display: flex;
}

.features > div:first-child > .content-features{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.item-feacture{
  margin: 15px 0px;
}
.item-feacture span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color-starts);
  height: 80px;
  width: 80px;
  border-radius: 20px;
  margin-right: 15px;
}
.item-feacture > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-feacture > div > h4{
  margin-bottom: 5px;
}

.item-feacture > div > p{
  color: var(--text-secondary-color);
  font-size: 0.9em;
}
footer{
  display:grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  justify-content: space-between;
}

footer > div:first-child{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

footer > div:first-child > .logo-principal{
  margin-bottom: 0 !important;
}
footer > div:first-child > p{
  margin: 40px 0px;
  font-size: 1em;
  color: var(--text-secondary-color);
  width: 90%;
}

footer > div:first-child > div.icons-footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

footer > div:first-child > div.icons-footer > span{
  background-color: var(--background-icons);
  height: 40px;
  width: 40px;
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

footer > div:first-child > div.icons-footer > span > svg{
  stroke: var(--background-ligth-white);
}

footer > div:last-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer > div:last-child ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > div:last-child h6{
  margin: 25px 0px;
  font-size: 1em;
}

footer > div:last-child ul a{
  color: var(--text-secondary-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
