:root{
    --bg-color-principal: #6246ea;
    --bg-color-secondary: #EFF0F3;
    --color-paragraph:#9A9494;
    --bg-color-footer:#E4E5E9;
}

body{
    background:url(/images/bgHero.svg);
}
nav{
    background-color: var(--bg-color-secondary) !important;
}
.logo span{
  color: var(--bg-color-principal);
  font-size: 1.4rem !important;
}
.border-left{
  border-left: 4px solid #000;
  padding-left: 10px;
}
.paragraph{
  color: var(--color-paragraph);
}

.pagination-item{
  color: #000 !important;
  font-size: 1.3em;
  text-transform: capitalize;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-coffee{
    background: url(/images/iconcoffee.svg);
    height: 30px;
    width: 30px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.card-media-img-languages{
    width: 100px !important;
    height: 100px;
}

.card-languages{
    width:220px;
    height:300px;
    display:flex;
    padding: 30px;
    flex-direction:column;
    justify-content:center;
}
.card-languages div{
    padding-left: 0px;
}
.card-languages p{
    margin:0;
    padding: 0;
}
.card-languages:hover,.card-languages:hover p{
    background: var(--bg-color-principal) !important;
    color:white;
}

.footer{
  margin-top: 30px;
  padding: 20px 50px;
  background-color: var(--bg-color-footer);
}

.footer > div:last-child > div:first-child > div h5{
    font-weight: bold;
    margin-top: 20px;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: var(--bg-color-principal);
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
